<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!--        <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    -->
    <!--mapping--> 
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.showing.film.UserSeatServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/bookingSeats</url-pattern>
    </servlet-mapping>
    <!--mapping booking-->
    <servlet>
        <servlet-name>AdminMovieServlet</servlet-name>
        <servlet-class>controller.admin.AdminMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoomServlet</servlet-name>
        <servlet-class>controller.admin.AdminRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSeatClassServlet</servlet-name>
        <servlet-class>controller.admin.AdminSeatClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowTimeServlet</servlet-name>
        <servlet-class>controller.admin.AdminShowTimeServlet</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>AdminMovieServlet</servlet-name>
        <url-pattern>/admin/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoomServlet</servlet-name>
        <url-pattern>/admin/rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSeatClassServlet</servlet-name>
        <url-pattern>/admin/seatclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowTimeServlet</servlet-name>
        <url-pattern>/admin/showtimes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
